{% extends "base.html" %} {% block title %}Ajouter un utilisateur{% endblock%}{% block content %}
<head>
  <link rel="stylesheet" href="style.css">
</head>
<form method="POST">
    <h3 align="center">Ajouter un utilisateur</h3>
    <div class="form-group">
      <label for="email">Adresse email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Saisir l'email"
      />
    </div>
    
    <div class="form-group">
        <label for="firstName">Prénom</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          name="firstName"
          placeholder="Saisir le prénom"
        />
      </div>

      <br />
      <div>
      <div class="c">
      <input type="checkbox" id="teacher" name="teacher" value="teacher"/>
      <label for="teacher">Professeur?</label>
      </div>
<div class="add">
  <button type="submit" class="btn btn-primary">Ajouter</button>
</div>
</div>
      
    </form>
{% endblock %}

