{% extends 'base.html' %}
{% block title %} {{ note.title }} {% endblock title%}

{% block content %}
<h3>Compte rendu</h3>
<textarea readonly class="ckeditor form-control" id="text" name="text">{{ note.text }}</textarea>
<h3>Commentaires du professeur</h3>
<hr>
{% for comment in note.comment|sort(attribute='time')|reverse %}
  <pre style="white-space: pre-wrap">{{ comment.text }}</pre>
  <hr>
{% endfor %}
{% endblock content %}
<!-- <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-sm mx-2"><a href="/update/{{note.id}}">update</a></button> -->
